.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.columnWrapper {
  display: flex;
  flex-direction: row;
}

.column{
  width: 33%;
  height: 85vh;
  text-align: center;
}

.fillSpace{
  display: flex;
  flex-direction: column;
}

.header{
  flex-direction: row-reverse;
  display: flex;
  align-items: center;
}

.buttonWrapper{
  margin-left: 1vw;
  margin-right: 1vw;
}

.progressBox{
  display: flex;
  align-self: flex-end;
  /* background-color: #99ff00; */
  background-image: linear-gradient(to top right, #99ff00, #b2e960);
  height: 5vh;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2vh;
  border-radius: 2px;

}

.repetitionBox{
  display: flex;
  align-self: flex-end;
  /* background-color: #00aaff; */
  background-image: linear-gradient(to top right, #00aaff, #5cbceb);
  height: 12vh;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2vh;
  border-radius: 2px;
}

.emptyRepBox{
  display: flex;
  align-self: flex-end;
  height: 12vh;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2vh;
}


.emptyBox{
  display: flex;
  align-self: flex-end;
  height: 5vh;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h2{
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.Login_Button{
  margin-top: 3vh;
}

.Login_Box{
  background-color: #131A26;
  padding: 30px;
  width: 30%;
  border-radius: 15px;
}

.scoreBox{
  width: 90%;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to top right, #334463, #3c5581);
  border-radius: 20px;
  font-size: calc(40px + 2vmin);
  margin-bottom: 5vh;
}

.userBox{
  width: 90%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #131A26;
  /* background-image: linear-gradient(to top right, #334463, #3c5581); */
  border-radius: 20px;
  font-size: calc(30px + 2vmin);
  margin-bottom: 5vh;

}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
